<div class="row">
    <div class="col-xs-12 col-sm-push-2 col-sm-8">
        <div class="jumbotron">
            <h1 align="center">Weather app</h1>
            <br>
            <br>
            <div class="row">
                <div class="col-xs-12">
                    <h2>Temprature: {{temp}} <span ng-show="temp">celicus</span></h2>
                    <h2 class="weather-heading">{{describe}}</h2>
                    <canvas id="clear-day" width="64" height="64"></canvas>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-push-4 col-sm-3">
                        <input type="text" class="form-control-inline" placeholder="Enter another state">
                        <button type="button" class="btn btn-info"><a href="#city">Search</a></button>
                        <!--                     <skycon icon = "cureentWe.forcast.ion"></skycon>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>