#home{
     background: url(http://www.paleoplan.com/wp-content/uploads/2015/02/is-coffee-paleo.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
    height:700px;
}
.navbar-inverse{
    background-color:saddlebrown;
}
.navbar-nav{
    margin-left: 60%;
}
.hometitle{
    margin-top:305px;  
}
#review{
    
    margin-top: 100px;
}
.panel{
    margin-top:100px;
}
img{
    width: 270px;
    height: 200px;
}
form{
    margin-top: 100px;
}
/*
#about{
    margin-top: 100px;
}*/
