.navbar-inverse{
    height: 100px;
    background-color: white;
    border-color: white;
}
li.active.dropdown{
    background-color: whitesmoke
}
/*
.carousel-inner > .item > img{
       width:1300px;
       height:860px;
     }
*/
/*#inputEmail{
    width: 40%;
    margin-left: 300px;
}*/
/*#text{
  width: 25%;
  margin-left: 450px;
  margin-top: -25px;
  display: inline;
}*/

#text{
  padding-right:30px;
}
#text + .glyphicon {
    position: absolute;
    right: 0;
    padding: 8px 27px;
}
.form-group{
  margin-top:19px;
}






#navbar{
    margin-top:9px;
}
#home{
    height: 150px;
}
#imaginary_container{
    margin-top:20%; /* Don't copy this */
}
.stylish-input-group .input-group-addon{
    background: white !important; 
}
.stylish-input-group .form-control{
  border-right:0; 
  box-shadow:0 0 0; 
  border-color:#ccc;
}
.stylish-input-group button{
    border:0;
    background:transparent;
}

.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus{
    background-image:none !important;
}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus{
    background-color:bisque;
}
.navbar-nav{
   padding-left: 40%;
    float: none;
}
.nav navbar-nav.navbar-right li a{
    color:blue;
}


.carousel-fade .carousel-inner .item {
  opacity: 1;
   transition-property: opacity;
  transition-duration: 6s;
  transition-timing-function:linear;
}

.carousel-fade .carousel-inner .active {
  opacity: 1;
}


.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  opacity: 1;
  z-index: 1;
}

.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}

.carousel-fade .carousel-control {
  z-index: 2;
}

@media all and (transform-3d), (-webkit-transform-3d) {
    .carousel-fade .carousel-inner > .item.next,
    .carousel-fade .carousel-inner > .item.active.right {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.prev,
    .carousel-fade .carousel-inner > .item.active.left {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.next.left,
    .carousel-fade .carousel-inner > .item.prev.right,
    .carousel-fade .carousel-inner > .item.active {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
}
@media only screen and(max-width:48`0px){
    #inputEmail{
        width: 100%;
    }
}
#email{
    background-color: bisque;
    height: 70px;
    width: 100%
}

.form-control-feedback{
    position: absolute;
    margin-top: 12px;
    margin-right: 450px;
}
#line{
    font-family: "BebasNeueRegular";
    font-size: 18px;
    line-height:50px;
    letter-spacing:4px;
    color:grey;
}

#line:after,
#line:before{
    content:"\00a0\00a0\00a0\00a0\00a0";
    text-decoration:line-through;
    
}

.titlebox{
    width:80px;
    margin-top: -19px;
    margin-left: 76px;
    background: white;
    letter-spacing: 3px;
    color:grey;
    
}
.social {
    margin-top:55px;
    border: 0.5px solid grey;
    padding:10px;
    width:250px;
    height:50px;
}
.subscribe{
    font-family: "BebaseNeueThin";
    border:0.5px solid grey;
    margin-top:25px;
    padding:10px;
    width:250px;
    height:90px;
    /*font-size: 17px;*/
     letter-spacing: 2px;

}
#dif{
  margin-top:32px;
}
.social ul li {
    margin: 10px;
    margin-top:-12px;
    list-style: none outside none;
    display: inline-block;
}
#subscribetext{
    font-family: "BebaseNeueThin";
    font-size: 17px;
    letter-spacing: 3px;
    display: inline;
    margin-right:75px;
    color:grey;
}
#triangle p{
  font-family: "BebasNeueRegular";
  font-weight: 400;
  font-style: normal;
  letter-spacing: .2em;
  line-height: 37px;
  font-size: 30px;

}
@font-face {font-family: 'BebasNeueRegular'; 
      src:url('BebasNeueRegular.otf');
}
@font-face {font-family: 'BebaseNeueThin'; 
      src:url('BebasNeueRegular.otf');
}


