<!DOCTYPE html>
<html lang="en" ng-app="myApp">

<head>
    <meta charset="UTF-8">
    <title>To Do List</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="mystyle.css" rel="stylesheet">
</head>

<body ng-controller="myCtrl">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1>Meheret To Do List</h1>
            </div>
            <div class="col-xs-12 col-sm-4">
                <input type="text" class="form-control" placeholder="title" ng-model="todo.title">
            </div>
            <div class="col-xs-12 col-sm-2">
                <input type="number" class="form-control" placeholder="price" ng-model="todo.price">
            </div>
            <div class="col-xs-12 col-sm-2">
                <input type="text" class="form-control" placeholder="imgurl" ng-model="todo.imgUrl">
            </div>
            <div class="col-xs-12 col-sm-3">
                <input type="text" class="form-control" placeholder="item description" ng-model="todo.description">
            </div>

            <button type="button" class="btn btn-default" ng-click="createtodo()">Add</button>
        </div>
        <br>
        <div class="row">
            <div class="col-xs-12">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Title</th>
                            <th>Price</th>
                            <th>Image</th>
                            <th>Description</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in todolist track by $index">
                            <td ng-hide="item.editMode">{{item.title}}</td>
                            <td ng-show="item.editMode">
                                <input type="text" class="form-control" ng-model="item.title">
                            </td>
                            <td ng-hide="item.editMode">{{item.price}}</td>
                            <td ng-show="item.editMode">
                                <input type="text" class="form-control" ng-model="item.price">
                            </td>
                            <td ng-hide="item.editMode">{{item.imgUrl}}</td>
                            <td ng-show="item.editMode">
                                <input type="text" class="form-control" ng-model="item.imgUrl">
                            </td>
                            <td ng-hide="item.editMode">{{item.description}}</td>
                            <td ng-show="item.editMode">
                                <input type="text" class="form-control" ng-model="item.description">
                            </td>
                            <td>
                                <button type="button" class="btn btn-default btn-xs" ng-click="deletetodo(item, $index)">Delete</button>
                                <button type="button" class="btn btn-default btn-xs" ng-click="item.editMode = !item.editMode" ng-hide="item.editMode">Edit</button>
                                <button type="button" class="btn btn-default btn-xs" ng-click="updatetodo(item)" ng-show="item.editMode">Save</button>
                            </td>
                        </tr>
                        <!-- <tr ng-repeat="item in todolist track by $index" ng-show="editMode">
                        <td>
                            <input type="text" class="form-control" ng-model="item.title">
                        </td>
                        <td>
                            <input type="text" class="form-control" ng-model="item.price">
                        </td>
                        <td>
                            <input type="text" class="form-control" ng-model="item.imgUrl">
                        </td>
                        <td>
                            <input type="text" class="form-control" ng-model="item.description">
                        </td>
                        <td>
                            <button type="button" class="btn btn-default btn-xs" ng-click="deletetodo(item, $index)">Delete</button>
                            <button type="button" class="btn btn-default btn-xs" ng-click="editMode = !editMode">Edit</button>
                        </td>
                    </tr> -->

                    </tbody>
                </table>
            </div>

        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular.js"></script>
    <script src="todo.js"></script>
</body>

</html>