.first{
   width: 800px;
    margin 0 auto;
} 
h1 {
    text-align: center;
     color: darkgreen;
    font-family: "Georgia";
}
h2{
    text-align: center;
    font-family: "Georgia";
}
img{
    float: left;  
    clear: left;
}
.lower{
    clear: left;
    line-height: 25px;
}
.par1{
    line-height: 25px;
}
par2{
    line-height: 25px;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
.up{
    text-transform: uppercase;
}          
        
