<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="mystyle.css" rel="stylesheet">
</head>
<body ng-controller="myController">

    <div class="container" id="contain">
        <form class="form-horizontal">
            <div class="row">
                <div class="col-xs-12 col-sm-4">
                    <input type="text" class="form-control" placeholder="Title" id="input1" ng-model="uglies.title">
                </div>
                <div class="col-xs-12 col-sm-4">
                    <input type="text" class="form-control" placeholder="Img URL" id="input1" ng-model="uglies.img">
                </div>
                <div class="col-xs-12 col-sm-4">
                    <input type="text" class="form-control" placeholder="Description" id="input1" ng-model="uglies.description">
                </div>
            </div>
        </form>
        <div class="col-xs-12 col-sm-push-5">
            <button ng-click="ugly()">Submit</button>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div ng-repeat="items in newugly track by $index">
                <div class="panel panel-default">
                    <div class="panel-heading">{{items.title}}</div>
                    <div class="pannel-body"><img ng-src="{{items.img}}"></div>
                    <p>{{items.description}}</p>
                </div>
            </div>
        </div>
    </div>


    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.js"></script>
    <script src="ugly.js"></script>
</body>
</html>