nav{
    position: fixed;
   top: 0;
    background-color: burlywood;
    width: 100%;
    left:0;
}
nav a{
    padding-right:55px;
    font-family: Cambria, Serif;
    font-size: 23px;
    text-decoration: none;
    line-height: 2.3em;
    
}
.blog1{
     margin-top:65px;
    
}
.blog1 img{
    float: left;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: -35px;
   
    
}
    